<div class="ristorante-section">
    <h1>Benvenuti nell'App di Ricette di Giorgione</h1>
    <p>
        Giorgio Barchiesi è grande e grosso, dal carattere aperto e sensibile come un vero compagno di avventure.
        Nel suo orto coltiva di tutto, alleva animali di ogni tipo e cucina come si deve.
    </p>
    <p>
        Per tutti è Giorgione, il protagonista della serie tv in onda su Gambero Rosso Channel e dal titolo, appunto,
        “Giorgione – Orto e Cucina”. Classe ’57, romano atipico (ha lasciato la capitale a 19 anni e non ci è più tornato),
        umbro di adozione, Giorgio oggi cucina con passione nella sua locanda ricette semplici, gustose e facili da eseguire.
        Cucina semplice, abbondante, gustosa come i piatti della nonna.
    </p>
    <p>
        Nell'App di Ricette di Giorgione troverai una cucina semplice, non necessariamente umbra, con massima attenzione
        alla qualità dei prodotti utilizzati, a cominciare dall’olio, rigorosamente extravergine.
    </p>
    <p>
        Scopri ricchi menu di carne e altre specialità, tra cui antipasti misti caldi, antipasti di salumi, ampia scelta
        di formaggi, bistecche, primi e secondi piatti. Ogni ricetta è accompagnata da consigli sui migliori vini e bevande
        da abbinare.
    </p>
</div>
